<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Simple Health Tracker</title>
    <body>
        <div class="mt-5"></div>
        <div class="container-fluid">
            <div class="p-3 mb-2 bg-success text-white">Email sent! Click <a href="/" class="text-white">here</a> to log another update.</div>
            
        </div>
    </body>
</html>